@media(max-width: 480px)  {
  .header_text {
    width: 90%;
    font-size: 18px;
    height: auto;
    background-color: red;
  }

  .input {
    width: 100%;
    font-size: 18px;
  }

  button {
    width: 100%;
    font-size: 18px;
  }

}