@media (max-width: 390px) {
  body {
    background-color: red;
  }

  .header_text {
    font-size: 50px;
    color: red;
    width: 90%;
  }

  .input {
    width: 100%;
    font-size: 18px;
  }

  button {
    width: 100%;
    font-size: 18px;
  }
}
